body{
  font:15px/1.5 Arial, Helvetica,sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.button_1{
  height: 38px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.button_1:hover{
  background-color: rgb(238, 64, 26);
  color: white;
}
.dark{
  padding: 15px;
  background-color: rgb(77, 77, 77);
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* header */
header{
  background-color: rgb(72, 72, 74);
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: rgb(246, 30, 30) 3px solid;
}
header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #Branding{
  float: left;
}
header #Branding h1{
  margin: 0;
}
header nav{
  float:right;
  margin-top: 10px;
}
header .heighlight, header .current a{
  color: rgb(246, 30, 30);
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
/* Showcase */
#showcase{
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: white;
}
#showcase h1{
  margin-top: 100px;
  font-size: 50px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}
/* newsletter */
#newsletter{
  padding: 16px;
  background-color: rgb(72, 72, 74);
}
#newsletter h1{
  color: white;
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 20px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 200px;
  border-radius: 5px;
}
/* boxes */
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  width: 90px;
  height: auto;
}
#boxes .box3 {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box3 img{
  width: 90px;
  height: 90px;
}
aside#aside-bar{
  float: right;
  width: 30%;
  margin-top: 10px;
}
article#main-col{
  float: left;
  width: 65%;
}
/* Services */
ul#services li{
  list-style-type: none;
  padding: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  background-color: rgba(186, 195, 207,0.5);
}
aside#aside-bar .quote input,aside#aside-bar .quote textarea{
  width: 90%;
  padding: 5px;
}
/* footer */
footer{
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(230, 58, 39);
  color: white;
  font-weight: bold;
}
/* media Queries */
@media(max-width: 768px) {
  header #Branding, header nav, header nav li,
  #newsletter h1, #newsletter form, #boxes .box3, #boxes .box,
  article#main-col, aside#aside-bar{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
